:root {
    --primary: #835afd;
    --ice: #FFF;
}

.dark {
    --primary: #27e8a7;
    --primary-hover: #32ae85;
    --darker: #232937;
    --dark-one: #506477;
    --dark-two: #7390AA;
    --ice: #E4F0FB;
    --ice-two: #ADD7FF;
    --danger: #DF4576;
    --danger-two: #E73F5D;
    --grey: #DBDCDD;
}

#page-auth {
    display: flex;
    align-items: stretch;
    height: 100vh;
    

    &.dark{
        aside{
            background: var(--primary-hover);
            color: var(--ice);

            p {
                color: var(--ice);
            }
        }
    }
    aside {
        flex: 6;

        background: var(--primary);
        color: var(--ice);

        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 6rem 4rem;

        img {
            max-width: 320px;
        }

        strong {
            font: 700 36px 'Poppins', sans-serif;
            line-height: 42px;
            margin-top: 16px;
        }

        p {
            font-size: 24px;
            line-height: 32px;
            margin-top: 16px;
            color: var(--ice);
        }
    }

    main {
        flex: 8;

        padding: 0 32px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-content{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 320px;
        align-items: stretch;
        text-align: center;

        > img {
            align-self: center;
        }

        h2 {
            font-size: 24px;
            font-family: 'Poppins', sans-serif;
            margin-top: 64px;
            margin-bottom: 24px;
        }

        form {
            input{
                height: 50px;
                border-radius: 8px;
                padding: 0 16px;
                background: #FFF;
                border: 1px solid var(--primary);
            }

            button {
                margin-top: 16px;
            }

            button, input {
                width: 100%;
            }
        }

        p {
            margin-top: 16px;
            font-size: 14px;
            color: #737380;

            a {
                color: #E559F9;
            }
        }

        .create-room{
            margin-top: 64px;
            height: 50px;
            border-radius: 8px;
            font-weight: 500;
            background: #ea4335;
            color: var(--ice);

            display: flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;
            border: 0;
            transition: filter 0.2s;

            img {
                margin-right: 10px;
            }
            &:hover{
                filter: brightness(0.9);
            }
        }

        .separator {
            font-size: 14px;
            color:#a8a8b3;

            margin: 32px 0;
            display: flex;
            align-items:center;

            &::before{
                content: '';
                flex: 1;
                height: 1px;
                background: #a8a8b3;
                margin-right: 16px;
            }

            &::after{
                content: '';
                flex: 1;
                height: 1px;
                background: #a8a8b3;
                margin-left: 16px;
            }
        }
    }
}

//DARKMODE

#page-auth .dark{

    .main-content{
        form {
            
            input{
                background: var(--dark-two);
                border: 1px solid var(--ice);
                color: var(--ice);
            }

            ::-webkit-input-placeholder {
                color: var(--ice);
             }
             
             :-moz-placeholder { /* Firefox 18- */
                color: var(--ice);  
             }
             
             ::-moz-placeholder {  /* Firefox 19+ */
                color: var(--ice);  
             }
             
             :-ms-input-placeholder {  
                color: var(--ice);  
             }
        }

        p {
            color: var(--grey);

            a {
                color: var(--dark-two);
            }
        }

        .create-room{
            background: transparent;
            color: var(--ice);
            border: 1px solid var(--ice);

            img {
                margin-right: 10px;
            }
        }

        .separator {
            font-size: 14px;
            color:var(--ice);
            &::before{
                background: var(--ice);
            }

            &::after{
                background: var(--ice);
            }
        }
    }
}