:root {
    --primary1: #27e8a7;
    --primary-hover: #32ae85;
    --darker: #232937;
    --dark-one: #506477;
    --dark-two: #7390AA;
    --ice: #E4F0FB;
    --ice-two: #ADD7FF;
    --danger1: #DF4576;
    --danger-two: #E73F5D;
    --grey: #DBDCDD;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f8f8f8;
    color: #29292e; 

    & .dark{
        background: var(--darker);
        color: var(--ice); 
    }
}

body, input, button, textarea {
    font: 400 16px 'Roboto', sans-serif;
}