:root{
    --primary: #27e8a7;
    --primary-hover: #32ae85;
    --darker: #232937;
    --dark-one: #506477;
    --dark-two: #7390AA;
    --ice: #E4F0FB;
    --ice-two: #ADD7FF;
    --danger1: #DF4576;
    --danger-two: #E73F5D;
    --grey: #DBDCDD;
}

.question {
    background: #fefefe;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
    padding: 24px;

    & + .question {
        margin-top: 8px;
    }

    &.highlighted {
        background: #F4F0FF;
        border: 1px solid #835afd;

        footer .user-info span {
            color: #29292e;
        }
    }

    &.answered {
     background: #dbdcdd;
    }

    p{
        color: #29292e;
    }

    &.dark{
        background: var(--dark-two);

        p{
            color: var(--ice);
        }

        footer .user-info span {
            color: var(--ice) !important;
        }

        &.highlighted {
            background: var(--ice) !important;
            border: 2px solid var(--primary) !important;
            margin: 10px -24px 10px -24px;

            p{
                color: var(--darker) !important;
            }
    
            footer .user-info span {
                color: #29292e !important;
            }
        }

        &.answered {
            background: transparent !important;
            border: 1px solid var(--primary) !important;

            p {
                color: var(--primary) !important;
            }

            img{filter: brightness(0.5)};

            footer .user-info span {
                color: var(--dark-two) !important;
            }
        }
    }

    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;

        .user-info{
            display: flex;
            align-items: center;

            img {
                height: 32px;
                border-radius: 50%;
            }

            span {
                margin-left: 12px;
                color: #737380;
                font-size: 14px;
            }
        }

        >div {
            display: flex;
            gap: 16px;
        }

        button {
            border: 0;
            background: transparent;
            cursor: pointer;
            transition: filter 0.2s;

            &.like-button{
                display: flex;
                align-items: flex-end;
                color: #737380;
                gap: 8px;

                
                &.liked {
                    color: #835afd;

                    svg path {
                        stroke: #835afd;
                    }
                }
            }


            &:hover{
                filter: brightness(0.7);
            }
        }  

        &.dark{
            button{
                &.like-button{
                    svg path {
                        stroke: var(--darker);
                    }

                    &.liked {
                        color: #000;
    
                        svg path {
                            stroke: #000;
                            fill: #FFF;
                        }
                    }
                }
            }
        }  
    }
}